*{
  margin: 0;
  padding: 0;
font-family: 'Times New Roman', Times, serif;}


.App{

  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

video{

  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.contents{

  position: absolute;
  width: 100%;
  /* height: 100%; */
  /* align-items: center; */
  top: 100px;
  left: 0;
  font-size: 4rem;
  color: #fff;
  /* justify-content: center; */
  /* display: flex; */
  /* flex-direction: column; */
  font-weight: bold;

}

.overlay{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}